
.skill-details {
  max-width: 600px;
}

.content {
  padding: 0.5rem;
}

table.skill-data {

  th {
    text-align: right;
  }

}


progress {
  --progressBackground: hsl(0, 0%, 5%);
  --progressBackground2: hsl(0, 0%, 15%);
  --progressBorderColor: hsl(0, 0%, 20%);
  --progressLeft: #0058ff;
  --progressRight: #00c4ff;
  --progressGlow: hsla(210, 100%, 50%, 33%);
  --bar-height: 15px;
  --bar-radius: 3px;
  width: 100%;

  -webkit-appearance: none;
  appearance: none;
  background-image: -webkit-linear-gradient(top, var(--progressBackground), var(--progressBackground2));
  border: 1px solid var(--progressBorderColor);
  border-radius: var(--bar-radius);
  height: var(--bar-height);
}

progress[value]::-webkit-progress-bar {
  background-image: -webkit-linear-gradient(top, var(--progressBackground), var(--progressBackground2));
  background-size: 100% 100%, 100% 100%;
  border-radius: var(--bar-radius);
  height: var(--bar-height);
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(left, var(--progressLeft), var(--progressRight));
  background-size: 100% 100%, 100% 100%;
  box-shadow: 0 0 6px 1px var(--progressGlow);
  border-radius: var(--bar-radius) 0 0 var(--bar-radius);
  height: var(--bar-height);
}


progress[value]::-moz-progress-bar {
  background-image: -webkit-linear-gradient(left, var(--progressLeft), var(--progressRight));
  background-size: 100% 100%, 100% 100%;
  box-shadow: 0 0 6px 1px var(--progressGlow);
  border-radius: var(--bar-radius) 0 0 var(--bar-radius);
  height: var(--bar-height);
}


.projects-list {

}

h4 {
  margin-bottom: .5rem;
}

.projects-list > .project {
  padding: .5rem;
  border: 1px solid #494949;
  font-size: 1rem;
  transition: all 250ms;
  cursor: default;
  background: linear-gradient(315deg, rgb(25, 25, 25) 0%, rgb(50, 50, 50) 100%);

  &.personal {
    background: linear-gradient(315deg, rgb(25, 25, 25) 0%, rgb(31, 53, 61) 100%);
  }

  &.professional {
    background: linear-gradient(315deg, rgb(25, 25, 25) 0%, rgb(61, 26, 26) 100%);
  }

  &.open {
    background: linear-gradient(315deg, rgb(25, 25, 25) 0%, rgb(23, 66, 21) 100%);
  }

  &:hover {
    border-color: rgba(108, 149, 159, 0.65);
    box-shadow: 0 0 .25rem -1px inset rgba(108, 182, 189, 0.45);
    transition: all 300ms;
  }

  .button {
    cursor: pointer;
    height: 18px;
    width: 18px;
    transition: color 300ms;

    &:hover {
      color: #00c4ff;
      transition: color 300ms;
    }
  }

}
