    <div class="page">
      <main class="content article-list" *ngIf="article$ | async as articles">
        <article class="news segment preview" *ngFor="let article of articles">
          <div class="title-line">
            <div class="title">{{article.title}}</div>
            <div class="tag-container">
              <div class="tag" data-type="news">{{article.category}}</div>
            </div>
          </div>
          <div class="content" [innerHTML]="article.content">
          </div>
        </article>
      </main>
    </div>


