    <div class="page">
      <section class="content article-list" *ngIf="article$ | async as articles">

        <article *ngFor="let article of articles" class="glow segment">
          <header>
            <h1 class="title">{{article.title}}</h1>
          </header>

          <div class="content" [innerHTML]="article.shortContent">
          </div>

          <footer>
            <div class="pusher"></div>
            <button mat-button routerLink="/article/{{article.slug}}">Read More</button>
          </footer>
        </article>

      </section>
    </div>


