<footer>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/emryscorbin/">
      <img src="././assets/social-icons/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="https://github.com/Panicintrinsica">
      <img src="././assets/social-icons/github.svg" alt="Github">
    </a>
    <a rel="me" href="https://mastodon.social/@emrysCorbin">
      <img src="././assets/social-icons/mastodon.svg" alt="mastodon">
    </a>
    <a href="https://pixelfed.de/@emrysCorbin">
      <img src="././assets/social-icons/pixelfed.svg" alt="PixelFed">
    </a>
  </div>
  <div class="copyright">
    Copyright © Emrys Corbin {{ year }}
  </div>
</footer>
