.project-card {
  background: var(--body);
  box-sizing: border-box;
  display: grid;
  border: .5rem solid transparent;
  border-radius: 0 8px 8px 0;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 5px 10px;
  grid-template-areas:
    "image title"
    "image content"
    "image actions";

  @media only screen and (max-width: 999px)  {
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    grid-template-areas:
    "title"
    "image"
    "content"
    "actions";
  }
}


.image {
  grid-area: image;
  align-content: center;
  display: flex;
  justify-content: center;

  img {
    block-size: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top center;

    @media only screen and (max-width: 999px)  {
      width: 100%;
      max-width: 320px;
    }
  }


}

.title-line {
  display: flex;
  border-bottom: 1px solid hsla(0,100%,100%,25%);
  align-items: baseline;
  padding: .33rem .5rem;

  .type {
    flex-grow: 1;
    opacity: 75%;
  }

  .date {
    font-size: 1.25rem;
    opacity: 75%;
  };

  .title {
    flex-grow: 1;
    line-height: 1.4rem;
    font-size: 1.7rem;
  }
}

.action-line {
  display: flex;
  gap: .25rem;
  justify-content: flex-end;
  padding: .5rem;
}

.content {
  grid-area: content;
  padding: .5rem;
}
